{{- /*

// Sort by value, ascending (default for lists)
Tags: range sort .Params.tags

→ Outputs Tags: tag1 tag2 tag3

// Sort by value, descending
Tags: range sort .Params.tags "value" "desc"

→ Outputs Tags: tag3 tag2 tag1

// Sort by key, ascending (default for maps)
Authors: range sort .Site.Params.authors

→ Outputs Authors: Derek Joe Tanner

// Sort by field, descending
Authors: range sort .Site.Params.authors "lastName" "desc"

→ Outputs Authors: Perkins Linsley Bergevin

*/ -}}
<dl>
  {{- range .pages.ByDate -}}


    {{- $changed := false -}}
    {{- if eq .Date .Lastmod -}}
      {{- $changed = true -}}
    {{- end -}}

    <dt>
      <span class="{{- if $changed -}}text-warning{{- else -}}text-success{{- end -}}">
        {{- partialCached "bsicon.html" "pen" "pen" -}}
      </span>
      <time>{{- .Date.Format "Mon, Jan 2, 2006" -}}</time>
    </dt>
    <dd>
      <a href="{{- .Permalink -}}">{{- .Title -}}</a>
    </dd>
  {{- end -}}
</dl>
